body
    {
        background-color:lightcoral;
    
        /* background-repeat: no-repeat;
        background-size: contain; */
    }

    .parkInfo-div{
        background-color:greenyellow;
        padding: 1em;
        color:black;
    }

    .attractions-div{
        background-color:aqua;
        padding: 1em;
        color:black;
    }

    #atHeading{
    background-color:darkcyan;
    padding: 1em;
    color: black;
    }
    #pHeading{
        background-color:gold;
        padding: 1em;
    /* color: black; */
    }

